* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; 
    background-image: url('th.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.home-section {
    height: 120vh; /* Full screen height */
    background-image: url('image6.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(70%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF; 
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-size: xx-large;
  }


.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero button {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.section {
    padding: 50px;
    text-align: left;
}

.trend-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.trend-item {
    width: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow-y: auto;
}

.gallery-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    height: 200px; 
    overflow-y: auto;  
}

.gallery-container img {
    width: 30%;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer {
    color: black;
    padding: 20px;
    text-align: right;
}

.drop-cap {
    text-indent: 0px; 
    line-height: 1.5;
    text-align: left;
}

.text {
    color: #FFFFFF; 
    text-shadow: 2px 2px 4px #000000; 
    font-family: 'Playfair Display', serif; 
    font-size: 38px; 
    line-height: 1.5; 
    text-align: center;
  }
  
.first-letter {
    font-size: 55px; 
    font-weight: bold; 
    color: #dbbb09; 
    float: left; 
    margin-right: -4px; 
    margin-top: -25px;
    font-family: 'Playfair Display', serif; 
    line-height: 1;
  }

.indented-paragraph {
    text-indent: 20px; /* Adjust the value as needed for indentation */
}


.ul {
    list-style-type: disc; 
    padding-left: 70px; 
}

.heading-container {
    text-align: center; /* Centers the content inside the container */
}

.heading2 {
    margin: 0; 
    font-size: 1.5em; 
    color: #333; 
    display: inline; /* Keep this if you want it to behave as inline element */
}

.li {
    margin-bottom: 5px; 
}

 html {
    scroll-behavior: smooth;
  }

.explore-btn {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

.explore-btn:hover {
    background-color: #ff4a3f;
  }

  .next-section {
    position: relative; 
    height: 120vh;
    padding: 20px;
    background-color: #f7f7f7; 
    /* background-image: url('image3.jpg'); */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.next-section h2 {
    position: relative; 
    z-index: 2; 
    color: black; 
}
